{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title | default "Talks" }}</h1>
  {{ with .Content }}<div class="post-content">{{ . }}</div>{{ end }}
</header>

{{- range .Pages.ByDate.Reverse -}}
<div class="writing-list-item">
  <a href="{{ .RelPermalink }}">
    {{- .Title -}}
    {{- with .Params.event }}<span style="color:var(--secondary);font-weight:normal;"> &middot; {{ . }}</span>{{ end -}}
    {{- with .Params.location }}<span style="color:var(--secondary);font-weight:normal;">, {{ . }}</span>{{ end -}}
  </a>
  <span class="date">{{ .Date.Format "Jan 2006" }}</span>
</div>
{{- end -}}

{{- end }}{{/* define "main" */}}
